# General
.DS_Store

# FVM
.fvm/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub/
build/
custom_lint.log

# IDE - IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# iOS
**/ios/Flutter/Dart-Defines.xcconfig
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
**/android/app/src/main/res/mipmap*/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/GeneratedPluginRegistrant.kt

# Firebase configuration files
**/android/app/src/*/google-services.json
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/ios/Runner/GoogleService-Info-*.plist
**/ios/Runner/Firebase

# Sentry
sentry.properties

# Environment Variables
*.env

# Keystore & Certificates
*.jks
*.keystore
*.p12
*.key

# Coverage
coverage/
*.lcov

# Exceptions to above rules
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

sentry.properties
